
local
*.asv
*.mexmaci64
*.mexmaci64
docker/build/libs/libcuda.so.1
docker/build/libs/libcuda.so.470.57.02
docker/build/libs/libnvidia-rtcore.so.470.57.02
docker/build/libs/libnvoptix.so.1
docker/build/libs/libnvoptix.so.470.57.02
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/doc/OptiX_API_Reference_7.2.0.pdf
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/doc/OptiX_EndUserLicense.pdf
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/doc/OptiX_Programming_Guide_7.2.0.pdf
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/doc/OptiX_ThirdParty_Licenses.txt
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/internal/optix_7_device_impl.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/internal/optix_7_device_impl_exception.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/internal/optix_7_device_impl_transformations.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_7_device.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_7_host.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_7_types.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_denoiser_tiling.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_device.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_function_table.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_function_table_definition.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_host.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_stack_size.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_stubs.h
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64/include/optix_types.h
data/V4/ChessSet.mp4
ChessSet.mp4
ChessSet.avi.mp4
